/* aboutBook.module.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top_component {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book_image {
  flex: 1 1 200px;
  max-width: 200px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book_image img {
  width: 100%;
  border-radius: 10px;
}

.book_info,
.basic_info_detail {
  flex: 2 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.author,
.publisher {
  font-size: 18px;
  margin-bottom: 5px;
  color: #555;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .top_component {
    flex-direction: column;
    align-items: center;
  }

  .book_image {
    margin: 0 0 20px 0;
  }

  .book_info,
  .basic_info_detail {
    align-items: center;
    text-align: center;
  }
}
