.show_book_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.book_item {
  margin-right: 20px;
  /* width: 150px; */
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.book_item img {
  border-radius: 5px;
}

.book_item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  /* max-width: 100%; */
}

.book_item:hover {
  transform: scale(1.05);
}

/* Responsive design */
@media (max-width: 768px) {
  .book-item {
    width: 120px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .book-item {
    width: 100px;
    margin-right: 5px;
  }
}

/* 캐러셀 임시 주석 처리함 */
/* .book_skill_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 100%;
  width: 100%;
  overflow: hidden;

  border: solid midnightblue 10px;
} */

/*책 이미지 정렬*/

/* 433px 이하 화면에서 이미지 크기 조절 */
@media (max-width: 501px) {
  .show_book_list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 891px) {
  .show_book_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .show_book_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
