.show_book_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.show_book_list_container {
  padding: 0 20rem;
  display: flex;
  justify-content: center;
}

.book_item {
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.book_item img {
  border-radius: 5px;
}

.book_item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
  /* max-width: 100%; */
}

.book_item:hover {
  transform: scale(1.05);
}

/*책 이미지 정렬*/

@media (max-width: 968px) {
  .show_book_list {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 30px;
    padding-right: 10px;
  }
}

@media (max-width: 721px) {
  .show_book_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .show_book_list {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .show_book_list_container {
    padding: 0;
  }
  .book_item {
    margin: 10px;
  }
}

@media (max-width: 375px) {
  .show_book_list {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .show_book_list_container {
    padding: 50px;
  }
  .book_item {
  }
}
