/* detailInfo.module.css */

/* Container for the book list */
.book_list_container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 20px;
  margin: 20px auto;
  max-width: 90%;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Book list wrapper */
.book_list {
  display: inline-flex;
}

/* Individual book items */
.book_item {
  display: inline-block;
  margin-right: 20px;
  width: 150px;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.book_item img {
  max-width: 100%;
  border-radius: 5px;
}

.book_item p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.book_item:hover {
  transform: scale(1.05);
}

/* Scrollbar styling */
.book_list_container::-webkit-scrollbar {
  height: 12px;
}

.book_list_container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.book_list_container::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  border-radius: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
  .book_item {
    width: 120px;
    margin-right: 10px;
  }
}

@media (max-width: 480px) {
  .book_item {
    width: 100px;
    margin-right: 5px;
  }
}

/* section bottom Component */

.detail_section {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail_info_content {
  margin-bottom: 20px;
}

.detail_title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.detail_text {
  font-size: 16px;
  color: #666;
}
