html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(242, 252, 252);
}

#root,
#root > div {
  height: 100%;
}

.header_wrapper {
  height: 100%;
}

.main_content_area {
  min-height: calc(100% - 50px);
}

.footer {
  background-color: var(--bs-blue);
  width: 100%;
  height: 50px;
  color: white;
}

.footer > * {
  color: white;
  padding-left: 30px;
}

/* .wrapper {
  display: grid;
  display: flex;
  flex-direction: row;
  background-color: bisque;
  overflow-x: scroll;
} */

main {
  display: flex;
  justify-content: center;
  align-self: center;
}

img {
  width: 200px;
  height: 295px;
}

/* select Form */
.select-template {
  /* margin-top: 75px; */
  display: flex;
  flex-direction: column;
  height: 100%;
}
.select-template > div {
  padding: 20px;
}

.select-template > button {
  /* bottom: 30; */
}

.select-template > div > input {
  width: 100%;
}

.select-template > div > select {
  width: 100%;
}

.select-template > .gender-select {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
}

.department {
  height: 40%;
}

.departement-ex {
  z-index: 99;
  width: 100%;
  box-sizing: border-box;
}

ul {
  display: block;
}

button {
  color: var(--bs-blue);
}

a {
  text-decoration-line: none;
  color: black;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  background-color: var(--bs-blue);
}

nav {
  width: 100%;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

/* 드롭다운 css 사용안함 */
.dropDown:nth-child(1) {
  background-color: red;
}

.dropDown_list {
  display: flex;
  flex-direction: column;
}

.RecommandBooks {
  height: 100%;

  background-color: white;

  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  /* overflow-y: hidden; */
}

.book_content_cotainer {
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: black;
  margin-left: 3%;
  margin-right: 3%;
}
/* 책들간의 간격을 위해 */

.swiper {
  position: sticky;
}

/* 자동완성시  배경 바뀌는 이슈 fix*/
/* inputTag  userform 컴포넌트 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:autofill,
input:autofill:hover,
input:autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:-webkit-autofill:focus,
input:autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
  border: var(--bs-border-width) solid var(--bs-border-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* list-group Department 선택 */
.list-group-item:hover,
.list-group-item:active {
  background-color: var(--bs-blue);
  color: white;
}

.list-group-container {
  max-height: 500px;
  box-sizing: content-box;
  overflow-y: scroll;
}

/* .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
} */
