html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(242, 252, 252);

  font-family: "NanumBarunGothic";
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix")
      format("embedded-opentype"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff")
      format("woff"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf")
      format("truetype");
}

.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}

#root,
#root > div {
  height: 100%;
}

.header_wrapper {
  height: 100%;
}

.main_content_area {
  min-height: calc(100% - 50px);
}
/* footer */

footer {
  width: 100%;
  /* height: 80px; */
  padding: 0px;
  text-align: center;
}

footer > a {
  color: var(--bs-gray-dark);
  border-style: solid;
  border-bottom: var(--bs-gray-dark);
}

footer > * {
  color: white;

  /* padding-left: 30px; */
}
footer #bar {
  color: var(--bs-primary-text-emphasis);
  margin: 0 5px 0 5px;
}
footer #copy-right {
  color: var(--bs-primary-text-emphasis);
  margin-top: 3px;
}

hr {
  margin: 0;
}
/* .wrapper {
  display: grid;
  display: flex;
  flex-direction: row;
  background-color: bisque;
  overflow-x: scroll;
} */

main {
  display: flex;
  justify-content: center;
  align-self: center;
}

img {
  width: 200px;
  height: 295px;
}

/* select Form */
.select-template {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.select-template > div {
  width: 100%;
  padding: 20px;
}

.select-template > .gender-select {
  display: flex;
  flex-direction: column;
}

.department {
  height: 40%;
}

.departement-ex {
  z-index: 99;
  width: 100%;
  box-sizing: border-box;
}

ul {
  display: block;
}

button {
  color: var(--bs-blue);
}

a {
  text-decoration-line: none;
  color: black;
}

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  backdrop-filter: blur(5px);
  background-color: var(--bs-blue);
}

nav {
  z-index: 2;
  width: 100%;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.book_content_cotainer {
  margin-top: 5%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: black;
  margin-left: 3%;
  margin-right: 3%;
}
/* 책들간의 간격을 위해 */

.swiper {
  position: sticky;
}

/* 자동완성시  배경 바뀌는 이슈 fix*/
/* inputTag  userform 컴포넌트 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:autofill,
input:autofill:hover,
input:autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:-webkit-autofill:focus,
input:autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset;
  border: var(--bs-border-width) solid var(--bs-border-color);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* list-group Department 선택 */
.list-group-item:hover,
.list-group-item:active {
  background-color: var(--bs-blue);
  color: white;
}

.list-group-container {
  max-height: 500px;
  box-sizing: content-box;
  overflow-y: scroll;
}

/* .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
} */

/* .dropdown-toggle {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.dropdown-menu {
  background-color: #c34c4c;
}

.dropdown-item {
  color: #212529;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #f8f9fa;
  color: #212529;
} */

.dropdown {
  min-width: 15em;
  position: relative;
  top: 0;
}

.select {
  background: #fff;
  color: #fff;
  color: #2a2f3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px var(--bs-border-color) solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.select-clicked {
  border: var(--bs-border-width) solid var(--bs-border-color);
  background-color: var(--bs-primary-bg-subtle);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.select:hover {
  background-color: var(--bs-primary-bg-subtle);
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #323741;
  transition: 0.3s;
}

.caret-rotate {
  transform: rotate(180deg);
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;

  background: white;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;

  border: 1px var(--bs-border-color) solid;
  border-radius: 0.5em;

  color: #3f4044;
  position: absolute;
  top: 4em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.menu li:hover {
  background-color: var(--bs-primary-bg-subtle);
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.active {
  background: white;
}

.menu-open {
  display: block;
  opacity: 1;
  z-index: 30;
}

#aboutBook_tab {
  z-index: 2;
}

.nav-link:hover {
  border-color: red;
}
