/* loading.module.css */

.loading_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading_spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.loading_text {
  margin-top: 20px;
  font-size: 18px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
