.hide {
  display: none !important; /* 사용자가 아무것도 입력하지 않았을 때 검색창을 숨기는 용도*/
}

.rel_search {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid red;
  border-radius: 12px;
}

.pop_rel_keywords {
  list-style: none;
  margin-right: 30%;
}

.pop_rel_keywords > li {
  /* JS에서 동적으로 li를 생성할 때 적용될 스타일*/
  line-height: 250%;
}
